nav ul a, nav .brand-logo{
    color:black !important;
}

.btn, .btn-large, .btn-small{
    background-color: #1565c0 !important;
}

.jumbotron h2{
    font-size: 7em;
}

.jumbotron p{
    font-size: 2.5em;
}